.download {
    text-align: center;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(Download_on_the_App_Store_Badge_US-UK_135x40.svg);
    margin-top: 50px;
}

.title {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
    font-size: 30px;
    text-align: center;
}

.container {
    top: 50%;
    position: absolute;
    margin-top: -155px;
    left: 50%;
    margin-left: -100px;
}
